<section class="content">
    <h5>&nbsp;&nbsp;Tags</h5>
    <a href="{{ site.baseurl }}/tags/#security" class="btn btn-primary tag-btn syletgs"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Security</a>
    <a href="{{ site.baseurl }}/tags/#Addin" class="btn btn-primary tag-btn syletgs"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Addin</a>
    <a href="{{ site.baseurl }}/tags/#Desktop Addin" class="btn btn-primary tag-btn syletgs"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Desktop Addin</a>
    <a href="{{ site.baseurl }}/tags/#Pricing" class="btn btn-primary tag-btn syletgs"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Pricing </a>
    <a href="{{ site.baseurl }}/tags/#chrome Extension" class="btn btn-primary tag-btn syletgs"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;chrome Extension</a>
</section>